<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857870999277-028pa9vrl01ug85od5rtum5kc6ecssop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857870999277-028pa9vrl01ug85od5rtum5kc6ecssop</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857870999277-01qjsspeoort7u2m3met8dpqt7a5qpkl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSOTvqXO28wkUEsxf3a9zAufKYHhrsY0I</string>
	<key>GCM_SENDER_ID</key>
	<string>857870999277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svindland.fitness</string>
	<key>PROJECT_ID</key>
	<string>lifttrack-b8673</string>
	<key>STORAGE_BUCKET</key>
	<string>lifttrack-b8673.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857870999277:ios:9be1d0a1d9f30e5e14b6e4</string>
</dict>
</plist>